.button {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background: linear-gradient(0deg, #BA514A 0%, #BA514A 100%);
    box-shadow: 0px 20px 20px -24px #742E29;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    &--back {
        background: #E0E0E0;
        color: #0D0D0D;
    }
}