.trust {
    padding: 146px 0;
    &__title {
        margin-bottom: 92px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        width: 906px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    &__item {
        position: relative;
        padding: 15px 20px 15px 0;
        display: flex;
        align-items: flex-start;
        width: 416px;
        background: rgba(#FFFFFF, .9);
        box-shadow: 4px 0px 4px rgba(33, 94, 171, 0.7);
        border-radius: 10px;
        &::before {
            content: '';
            position: absolute;
            width: 105px;
            height: 88px;
            top: 16px;
            right: 19px;
            background: url('../img/trust/trust-item-image.png') center no-repeat;
        }
    }
    &__item-content {
        margin-left: 20px;
    }
    &__item-title {
        font-size: 55px;
        line-height: 55px;
        color: #CA534B;
        font-family: 'Gilroy Black', sans-serif;
        margin: 0;
    }
    &__item-subtitle {
        font-size: 28px;
        line-height: 31px;
        color: #BA514A;
        font-family: 'Raleway Extra Bold';
        margin-bottom: 13px;
    }
    &__item-descr {
        font-size: 18px;
        line-height: 21px;
        color: #072E52;
    }
    &__block {
        position: relative;
        padding: 35px 0 58px 78px;
        background: #215EAB;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 520px;
        height: 247px;
        transform: skew(-5deg);
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        &::before {
            content: '';
            position: absolute;
            background: url('../img/trust/trust-image-before.png') center no-repeat;
            transform: skew(5deg);
            width: 385px;
            height: 440px;
            top: -72px;
            left: 74px;
        }
    }
    &__block-absolute {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__block-title {
        font-size: 35px;
        line-height: 44px;
        margin-bottom: 5px;
        color: #fff;
        font-family: 'Gilroy Black', sans-serif;
        transform: skew(5deg);
    }
    &__block-subtitle {
        font-size: 28px;
        line-height: 31px;
        color: #fff;
        font-family: 'Raleway Extra Bold', sans-serif;
        transform: skew(5deg);
    }
    &__block-red {
        padding: 14px 45px;
        width: 372px;
        height: 60px;
        background: #CA534B;
        box-shadow: 0px 4px 4px rgba(186, 81, 74, 0.7);
        border-radius: 10px;
        transform: skew(-5deg) translateY(-27px);
        margin-left: 20px;
    }
    &__block-red-title {
        font-family: 'Raleway Extra Bold', sans-serif;
        transform: skew(5deg);
        color: #fff;
        font-size: 28px;
        line-height: 31px;
    }
}